.card__container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70vh; */
    background: #111;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    width: 23%;
}

.card__custom {
    position: relative;
    background: #333;
    width: 25vw;
    /* height: 75vh; */
    border-radius: 6px;
    /* padding: 2rem; */
    color: #aaa;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Open Sans',
        sans-serif;
}

.card__image-container {
    margin: -2rem -2rem 1rem -2rem;
}

.card__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in;
}

.card__image {
    opacity: 0;
    animation: ImageFadeIn .8s 1.4s forwards;
    max-width: 100%;
}

.card__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 4%;
}

.card__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards;
}

.card__svg {
    position: absolute;
    left: 0;
    top: 28%;
    width: inherit !important;
}


@media only screen and (max-width: 600px) {
    .card__container {
        height: auto !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
        margin-top: 10%;
        margin-top: 5%;
        width: 100%;
    }

    .card__custom {
        width: 85vw !important;
    }
}

@keyframes LineFadeIn {
    0% {
        opacity: 0;
        d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
        stroke: #fff;
    }

    50% {
        opacity: 1;
        d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
        stroke: #fc4f02;
    }

    100% {
        opacity: 1;
        d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
        stroke: #fd7439;
    }
}

@keyframes ContentFadeIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ImageFadeIn {
    0% {
        transform: translate(-0.5rem, -0.5rem) scale(1.05);
        opacity: 0;
        filter: blur(2px);
    }

    50% {
        opacity: 1;
        filter: blur(2px);
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: blur(0);
    }
}


/* CARD FLIP ANIMATION */

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 0;
}

.flip-card-front {
    transition: ease-in-out 0.3s;
}

.flip-card-back {
    background: #111;
    border: 1px solid;
    border-color: #fc4f02;
    border-radius: 6px;
    color: white;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: ease-in-out 0.3s;
    padding: 5%;
}

.flip-card:hover .flip-card-front {
    opacity: 0;

}

.flip-card:hover .flip-card-back {
    opacity: 1;

}

.flip-card-back h1 {
    margin-top: 0;
    color: #fc4f02;
}

.flip-card-back p {
    margin-bottom: 2rem;
}

.flip-card-back a {
    padding: 0;
    background-color: white;
    color: #111;
    border: 0;
    height: auto;
    line-height: unset;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    letter-spacing: 0;
    font-family: "Avenir-Medium",
        sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.flip-card-back button:hover {
    outline: none;
    background-color: white;
    color: #fc4f02;
}